

.MineContainer{
align-content:center;

}
.boardtable {
padding:0;
margin:0;

}


.block{
 background-color: #A9A9A9;
 float:left;
 height:30px;
 width:30px;
border:solid #808080 ;
    border-width: 0 1px 1px 0;
}

body{
 background-image: linear-gradient(to right, #36d1dc ,#5b86e5);

  /*background-color:#F0FFFF;*/
}

.rank td, .rank th, .rank tr, .rank{
 border:1px solid;
 position:relative;}
.rank{
 border-collapse: collapse;
 width:150px;
 height:150px;
}